@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid darkgray;
  padding: 0.6em 1.2em;
  margin: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  background-color: #2a2a2a;
  border-radius: 8px;
}
